header {
  color: white;
  background-color: rgb(14, 148, 182);
  text-align: center;
}
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  };

ul {
  list-style-type: none;
}

.list {
  background-color: rgb(14, 148, 182);
  color: white;
  margin-bottom: 10px;
  text-align: center;
}